$title-text-color: #111518;
// черные заголовки и текст
$title-secondary-color: #ffffff;
// белые заголовки
$primary-text-color: #b9b9b9;
// основной текст серый
$secondary-text-color: #3d3d3d;
// текс секции Мы гарнтируем и комментов
$accent-color: #ff6b09;

$white-bg-color: #ffffff;
$black-bg-color: #111518;
$light-bg-color: #e5e5e5;
