<div class="form" id="form">
 <form class="container">
    <h2 class="form-title section-title">Регистрация на<span class="form-title-accent"> бесплатную</span> телефонную <span class="form-title-accent">консультацию</span> по нюансам ЗНО по английскому языку</h2>
    <p class="form-text">Оставь заявку на участие в <span class="form-text-accent">бесплатном занятии.</span><br>С вами свяжется консультант и ответит на вопросы</p>
    <div>
        <input class="form-input" type="text" name="name" placeholder="Имя*" required>
        <input class="form-input" type="tel" name="tel" placeholder="Телефон*" pattern="^[ 0-9]+$" required>   
    </div>
    <button class="submit-btn" type="submit">хочу на бесплатное занятие</button>
 </form>
</div>

<section class="footer-contacts">
<div class="container flexbox">
 <a class="logo logo-footer">Hell<svg width="22" height="25">
        <use href="./images/svg/symbol-defs.svg#icon-logo-fire"></use>
    </svg>EN
    <p class="text-style logo-text"> <span class="hell-style">Адский</span> английский </p>
 </a>


    <ul class="footer-contacts-list list">
        <li id="contacts" class="footer-contacts-list-item">
            <a class="link phone-link" href="tel:+380000000000">
                <svg class="phone-icon" width="20" height="19">
                    <use href="./images/svg/symbol-defs.svg#icon-phone"></use>
                </svg>
                +38 (000) 000 00 00
            </a>
        </li>
        <li>
            <a class="link inst-link" href="">
                <svg class="inst-icon" width="25" height="25">
                    <use href="./images/svg/symbol-defs.svg#icon-insta-white"></use>
                </svg>  
            </a>
        </li>
    </ul>
</div>
</section>

<div class="footer-copywrite">
    <div class="container">
        <span class="footer-copywrite-text">@ Все права защищены, 2019</span>
    </div>
    
</div>

