<section class="section programs" id="program">
  <div class="container program">
    <h2 class="title-programs">Наша программа</h2>

    <div class="vl">
      <ul class="list-program">
        <li class="circle">
          <h3 class="link-program">1 семестр</h3>
          <ul class="item-program">
            <li class="item-card">
              <p class="title-card">Grammar</p>
              <p class="text-card">Nouns & Articles<br />Adjectives & Adverb</p>
            </li>
            <li class="item-card">
              <p class="title-card">Vocabulary</p>
              <p class="text-card">Family & Relations<br />People & Society</p>
            </li>
          </ul>
        </li>

        <li class="circle">
          <h3 class="link-program">2 семестр</h3>
          <ul class="item-program">
            <li class="item-card">
              <p class="title-card">Grammar</p>
              <p class="text-card">
                Pronouns<br />Active Voice<br />Passive Voice
              </p>
            </li>
            <li class="item-card">
              <p class="title-card">Vocabulary</p>
              <p class="text-card">Home<br />School<br />Work</p>
            </li>
          </ul>
        </li>

        <li class="circle">
          <h3 class="link-program">3 семестр</h3>
          <ul class="item-program">
            <li class="item-card">
              <p class="title-card">Grammar</p>
              <p class="text-card">
                Modal verbs<br />Infinitive<br />Gerund<br />Participle: 1, 2
              </p>
            </li>
            <li class="item-card">
              <p class="title-card">Vocabulary</p>
              <p class="text-card">
                Travel & Tourism<br />Culture & Free<br />Time<br />Sport
              </p>
            </li>
            <li class="item-card">
              <p class="title-card">Writing</p>
              <p class="text-card">Informal Letter</p>
            </li>
          </ul>
        </li>

        <li class="circle">
          <h3 class="link-program">4 семестр</h3>
          <ul class="item-program">
            <li class="item-card">
              <p class="title-card">Grammar</p>
              <p class="text-card">
                Clauses: Conditional and<br />Wishes<br />Direct / Reported
                speech<br />Preposition<br />Conjunction<br />Numeral
              </p>
            </li>
            <li class="item-card">
              <p class="title-card">Vocabulary</p>
              <p class="text-card">
                Healthy Living<br />Nature & Environment<br />Money
              </p>
            </li>
            <li class="item-card">
              <p class="title-card">Writing</p>
              <p class="text-card">Formal Letter</p>
            </li>
          </ul>
        </li>

        <li class="circle">
          <h3 class="link-program change">5 семестр</h3>
          <ul class="item-program">
            <li class="item-card">
              <p class="title-card"></p>
              <p class="text-card card">Revision<br />Tests</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="program-img">
      <picture>
        <source
          srcset="
            ./images/our-program/desktop.webp 1x
            ./images/our-program/desktop.webp@2x 2x"
          media="(min-width: 1344px)"
          type="image/webp"
        />

        <source
          srcset="
                      ./images/our-program/tablet.webp 1x
                      ./images/our-program/tablet.webp@2x 2x"
          media="(min-width: 1344px)"
          type="image/webp"
        />

        <source
          srcset="
                      ./images/our-program/mobile.webp 1x
                      ./images/our-program/mobile.webp@2x 2x"
          media="(min-width: 1344px)"
          type="image/webp"
        />

        <source
          srcset="
            ./images/our-program/desktop.png    1x,
            ./images/our-program/desktop@2x.png 2x
          "
          media="(min-width: 1344px)"
        />
        <source
          srcset="
            ./images/our-program/tablet.png    1x,
            ./images/our-program/tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/our-program/mobile.png    1x,
            ./images/our-program/mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img class="picture" src="./images/our-program/desktop.png" alt="1" />
      </picture>
    </div>

    <div class="choice-section">
      <h2 class="choice-section-title">Почему нас выбирают</h2>
      <ul class="choice-list list">
        <li class="choice-item">
          <span class="choice-item-link"> 01 </span>
          <h3 class="choice-link-title">Обучение в малых командах</h3>
        </li>
        <li class="choice-item">
          <span class="choice-item-link"> 02 </span>
          <h3 class="choice-link-title">Визуализированные конспекты</h3>
        </li>
        <li class="choice-item">
          <span class="choice-item-link"> 03 </span>
          <h3 class="choice-link-title">
            Каждое занятие имеет цель и конкретный результат
          </h3>
        </li>
        <li class="choice-item">
          <span class="choice-item-link"> 04 </span>
          <h3 class="choice-link-title">Ревльные результаты преподавателя</h3>
        </li>
        <li class="choice-item">
          <span class="choice-item-link"> 05 </span>
          <h3 class="choice-link-title">
            Прогамма курса соответствует требованиям МОН Украины
          </h3>
        </li>
        <li class="choice-item">
          <span class="choice-item-link"> 06 </span>
          <h3 class="choice-link-title">Набор команд по уровням знаний</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
