<section class="reviews-section section container">
  <h2 class="section-title reviews-section-title">Отзывы выпускников</h2>
  <div class="reviews-container">
    <div class="reviews-container-list">
      <div class="reviews-list-img">
        <img
          srcset="
            ./images/reviews-section/Ellipse-8-90.png  1x,
            ./images/reviews-section/Ellipse-8-150.png 2x
          "
          src="./images/reviews-section/Ellipse-8-90.png"
          alt="Тут картинка"
        />
      </div>
      <div class="reviews-list-social">
        <a class="link" href="#">
          <svg width="30" height="30">
            <use href="./images/svg/symbol-defs.svg#icon-vk"></use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="list reviews-list">
      <li class="reviews-list-name"><span>Тоня Кучеровская</span></li>
      <li class="reviews-list-release">
        <p>
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
      </li>
      <li class="reviews-list-reviews" data-open-block>
        <p>
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен За короткий час занять з
          Оленою я опанувала граматику і поповнила свій зовсім пустий
          словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у
          своїй тарілці. Ми з Оленою стали друзями, тому що її справді хвилювала
          моя успішність. Вона стала для мене авторитетом, проте я не тремтіла
          на уроках, маючи страх зробити найменшу помилку. Зараз я можу
          похизуватись тим, що я студен
        </p>
      </li>
      <li>
        <button class="reviews-read-next" data-button-read data-open-block>
          <span>Читать дальше</span>
          <span>Свернуть</span>
        </button>
      </li>
    </ul>
    <!-- <div class="reviews-read-next">Читать дальше</div> -->
  </div>
  <div class="reviews-input-container">
    <div class="reviews-input-photo">
      <img
        srcset="
          ./images/reviews-section/Ellipse-9-54.png  1x,
          ./images/reviews-section/Ellipse-9-108.png 2x
        "
        src="./images/reviews-section/Ellipse-9-54.png"
        alt="Кар №1"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-10-54.png  1x,
          ./images/reviews-section/Ellipse-10-108.png 2x
        "
        src="./images/reviews-section/Ellipse-10-54.png"
        alt="Кар №2"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-11-54.png  1x,
          ./images/reviews-section/Ellipse-11-108.png 2x
        "
        src="./images/reviews-section/Ellipse-11-54.png"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-12-54.png  1x,
          ./images/reviews-section/Ellipse-12-108.png 2x
        "
        src="./images/reviews-section/Ellipse-12-54.png"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-13-54.png  1x,
          ./images/reviews-section/Ellipse-13-108.png 2x
        "
        src="./images/reviews-section/Ellipse-13-54.png"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-14-54.png  1x,
          ./images/reviews-section/Ellipse-14-108.png 2x
        "
        src="./images/reviews-section/Ellipse-14-54.png"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <img
        srcset="
          ./images/reviews-section/Ellipse-15-54.png  1x,
          ./images/reviews-section/Ellipse-15-108.png 2x
        "
        src="./images/reviews-section/Ellipse-15-54.png"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <button type="button" class="prev-button">
        <svg width="25" height="16">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="next-button">
        <svg width="25" height="16">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
