
.methods {   
  text-align: center;
  padding-top: 0;
  

  @include for-size(desktop){
    text-align:start;
    padding-top: 80px;
    padding-bottom: 130px;
}
}

.title-methods{
    letter-spacing: 0.01em;

    @include for-size(tablet-landscape){
    letter-spacing: 0.03em;
    }
}

.methods{
    .list-item-methods {
        position: relative;
        width: 100%;
        height: 280px;
        
        text-align: center;
        background-color: $white-bg-color;
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
        padding: 20px;
       
        transition: 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms linear 300ms;
        
        @media (max-width: 767px){
        &:not(:last-child){
            margin-bottom: 15px;
        }
        }
        &:hover{
            background-color: $accent-color;
            color: $title-secondary-color;
            transform: rotate(360deg);

            & .dash::after{
                background-color: $white-bg-color;
            }


            & .icon-methods {
                fill:$white-bg-color;
            }

            & .card-title{
                color: $title-secondary-color;
            }
        }


        
        @include for-size(tablet-landscape){
           
            width: calc((100% / 2 ) - 20px);
            height: 334px;
            
            margin-top: 13.5px;
            margin-right: 10px;
            margin-bottom: 13.5px;
            margin-left: 10px;

            padding-top: 40px;
            padding-bottom: 20px;
            padding-left: 45px;
            padding-right: 45px ;
            
        }
        @include for-size(desktop){
            width: calc((100% - 10px * 6) / 3);
            height: 396px;
            padding: 30px 30px;
            margin: 10px;
        }
    }
  
}

.list-methods{
    @include for-size(tablet-landscape){
        display: flex;
        flex-wrap: wrap;
        margin-top: -13.5px;
        margin-right: -10px;
        margin-bottom: -13.5px;
        margin-left: -10px;
       
    }
    @include for-size(desktop){
        margin: -10px;
    }
}

.card-title{
    position: relative;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: $title-text-color;

    padding-bottom: 15px;
    margin-top: 14px;
    margin-bottom: 0;
    
    @include for-size(tablet-landscape){
        margin-top: 24px;  
        padding-bottom: 25px;
    }
    @include for-size(desktop){
        margin-top: 24px;  
        font-size: 20px;
        line-height: 1.40;

    }
    &::after{
        
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
   
}
.icon-methods{
    fill:$accent-color;
   
}

.text-methods{
    margin-top: 15px;
    margin-bottom: 0;

    @include for-size(tablet-landscape){
    margin-top: 25px;   
    }
    @include for-size(desktop){
    font-size: 18px;
    line-height: 1.56;

    }
    
}
